<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>電子書籍ライブラリ</title>
  </head>
  <body>
    <h1>電子書籍ライブラリ</h1>
    <h2>ようこそ, <%= name %>さん</h2>
    <input type="text" id="msg" />
    <input type="button" id="btn" value="OK" />
  </body>
</html>
