<%# パスワード再設定画面 %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><パスワードの再設定></title>
  </head>
  <body>
    <!-- TODO formにする -->
    <h2><%= user_name; %>は既に存在します</h2>
      <div>
        <label for="old_password">現在のパスワード</label>
        <input type="text" id="old_password" name="opass" value="" />
      </div>
      <div>
        <label for="new_password1">新しいパスワード</label>
        <input type="text" id="new_password1" name="npass" value="" />
      </div>
      <div>
        <label for="new_password2">新しいパスワード(確認用)</label>
        <input type="text" id="new_password2" name="npass" value="" />
      </div>
    <script>
      window.onload = () => {
        document.getElementById('back-to-top').onclick = () => {
          // alert('clicked')
          // hrefは遷移後に戻るボタンで戻れる
          window.location.href = '/'
        }
      }
    </script>
  </body>
</html>