<%# cookieが有効な時に表示されるTopページ %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SHAKAIの窓</title>
  </head>
  <body>
    <h2>SHAKAIの窓</h2>
      <div id="okini_list">
        <h2><%= people.join(", "); %></h2>
      </div>

      <div>
          <input type="text" />
          <input type="button" id="add_okini" value="追加" />
      </div>

      <form method="POST" action="/logout">
        <input type="submit" value="ログアウト" />
      </form>
        
      <script>
        window.addEventListener('DOMContentLoaded', event => {
          document.getElementById('logout').onclick = () => {
            window.location.href = '/logout'
          }
          document.getElementById('add_okini').onclick = () => {
            window.alert('added')
          }
        })
      </script>
  </body>
</html>